<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.emby-next-gen">
        <category id="general" label="29999" help="">
            <group id="1" label="30613">
                <setting id="manageserver" label="30614" type="action" help="33307">
                    <data>NotifyAll(plugin.video.emby-next-gen,manageserver)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
                <setting label="33210" id="addUsersHidden" type="boolean" help="33308">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="factoryreset" label="33340" type="action" help="33400">
                    <data>NotifyAll(plugin.video.emby-next-gen,factoryreset)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="2" label="33110">
                <setting label="30504" id="deviceNameOpt" type="boolean" help="33318">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="30016" id="deviceName" type="string" help="33318">
                    <level>0</level>
                    <default>Kodi</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="deviceNameOpt">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30016</heading>
                    </control>
                </setting>
                <setting id="reset_device_id" label="30535" type="action" help="33306">
                    <data>NotifyAll(plugin.video.emby-next-gen,reset_device_id)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
            </group>
        </category>
        <category id="sync" label="30506" help="">
            <group id="1" label="30506">
                <setting label="" id="artworkcacheenable" type="boolean" help="">
                    <level>0</level>
                    <visible>false</visible>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="useDirectPaths" type="boolean" help="">
                    <level>0</level>
                    <visible>false</visible>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="WizardCompleted" type="boolean" help="">
                    <level>0</level>
                    <visible>false</visible>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="" id="MinimumSetup" type="string" help="">
                    <level>0</level>
                    <visible>false</visible>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="managelibsselection" label="33194" type="action" help="33309">
                    <data>NotifyAll(plugin.video.emby-next-gen,managelibsselection)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
                <setting label="33234" id="synclivetv" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="usepathsubstitution" label="33486" type="boolean" help="33487">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="texturecache" label="33059" type="action" help="33310">
                    <data>NotifyAll(plugin.video.emby-next-gen,texturecache)</data>
                    <level>0</level>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="artworkcacheenable">true</condition>
                        </dependency>
                    </dependencies>
                    <control type="button" format="action"/>
                </setting>
                <setting label="33239" id="xspplaylists" type="boolean" help="33311">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33185" id="syncduringplayback" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="nodesreset" label="33341" type="action" help="33401">
                    <data>NotifyAll(plugin.video.emby-next-gen,nodesreset)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
                <setting id="databasereset" label="33058" type="action" help="33313">
                    <data>NotifyAll(plugin.video.emby-next-gen,databasereset)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
                <setting label="33259" id="syncdate" type="date" help="33305">
                    <level>3</level>
                    <default>"2021-01-01"</default>
                    <control type="button" format="date">
                        <heading>33259</heading>
                    </control>
                </setting>
                <setting label="33260" id="synctime" type="time" help="33305">
                    <level>3</level>
                    <default>00:00</default>
                    <control type="button" format="time">
                        <heading>33260</heading>
                    </control>
                </setting>
                <setting id="limitIndex" type="integer" label="30515" help="33175">
                    <level>0</level>
                    <default>70</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
            <group id="2" label="33488">
                <setting label="30302" id="uniquepeoplemovies" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="30305" id="uniquepeopletvshows" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33489" id="uniquepeopleepisodes" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33363" id="uniquepeoplemusicvideos" type="boolean" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="playback" label="30516" help="">
            <group id="1" label="33298">
                <setting label="33262" id="enableCinemaMovies" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33263" id="enableCinemaEpisodes" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>    
                <setting label="30519" id="askCinema" type="boolean" help="33314">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <or>
                                <condition operator="is" setting="enableCinemaMovies">true</condition>
                                <condition operator="is" setting="enableCinemaEpisodes">true</condition>
                            </or>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33241" id="localTrailers" type="boolean" help="33314">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <or>
                                <condition operator="is" setting="enableCinemaMovies">true</condition>
                                <condition operator="is" setting="enableCinemaEpisodes">true</condition>
                            </or>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33242" id="Trailers" type="boolean" help="33314">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <or>
                                <condition operator="is" setting="enableCinemaMovies">true</condition>
                                <condition operator="is" setting="enableCinemaEpisodes">true</condition>
                            </or>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="2" label="33419">
                <setting label="33417" id="enableSkipIntro" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33422" id="askSkipIntro" type="boolean" help="33418">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="enableSkipIntro">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33420" id="enableSkipCredits" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33423" id="askSkipCredits" type="boolean" help="33421">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="enableSkipCredits">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="3" label="30409">
                <setting label="30114" id="offerDelete" type="boolean" help="33304">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="30115" id="deleteTV" type="boolean" help="33304">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="offerDelete">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="30116" id="deleteMovies" type="boolean" help="33304">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="offerDelete">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="4" label="30516">
                <setting id="resumeJumpBack" type="integer" label="30521" help="33320">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="autoclose" type="integer" label="33424" help="33425">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>15</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
            <group id="5" label="33495">
                <setting label="33498" id="remotecontrol_force_clients" type="boolean" help="33499">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33500" id="remotecontrol_client_control" type="boolean" help="33501">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33502" id="remotecontrol_sync_clients" type="boolean" help="33503">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33510" id="remotecontrol_auto_ack" type="boolean" help="33511">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="remotecontrol_drift" type="integer" label="33508" help="33509">
                    <level>0</level>
                    <default>200</default>
                    <constraints>
                        <minimum>100</minimum>
                        <step>100</step>
                        <maximum>10000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="remotecontrol_wait_clients" type="integer" label="33504" help="33505">
                    <level>0</level>
                    <default>30</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>120</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="watchtogeter_start_delay" type="integer" label="33506" help="33507">
                    <level>0</level>
                    <default>20</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting label="33515" id="remotecontrol_keep_clients" type="boolean" help="33516">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33514" id="remotecontrol_resync_clients" type="boolean" help="33513">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="remotecontrol_resync_time" type="integer" label="33512" help="33513">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="remotecontrol_resync_clients">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="6" label="33470">
                <setting label="33455" id="transcode_h264" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33456" id="transcode_hevc" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33457" id="transcode_av1" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33458" id="transcode_vp8" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33459" id="transcode_vp9" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33460" id="transcode_wmv3" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33461" id="transcode_mpeg4" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33462" id="transcode_mpeg2video" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33463" id="transcode_mjpeg" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33464" id="transcode_msmpeg4v3" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="7" label="33471">
                <setting label="33465" id="transcode_aac" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33466" id="transcode_mp3" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33467" id="transcode_mp2" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33468" id="transcode_dts" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33469" id="transcode_ac3" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33474" id="transcode_eac3" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33475" id="transcode_pcm_mulaw" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33476" id="transcode_pcm_s24le" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33477" id="transcode_vorbis" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33478" id="transcode_wmav2" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33479" id="transcode_ac4" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="8" label="33472">
                <setting id="videoBitrate" type="integer" label="30160" help="33316">
                    <level>0</level>
                    <default>100000000</default>
                    <constraints>
                        <options>
                            <option label="33330">664000</option>
                            <option label="33331">996000</option>
                            <option label="33269">1320000</option>
                            <option label="33270">2000000</option>
                            <option label="33271">3200000</option>
                            <option label="33272">4700000</option>
                            <option label="33273">6200000</option>
                            <option label="33274">7700000</option>
                            <option label="33275">9200000</option>
                            <option label="33276">10700000</option>
                            <option label="33277">12200000</option>
                            <option label="33278">13700000</option>
                            <option label="33279">15200000</option>
                            <option label="33280">16700000</option>
                            <option label="33281">18200000</option>
                            <option label="33282">20000000</option>
                            <option label="33283">25000000</option>
                            <option label="33284">30000000</option>
                            <option label="33285">35000000</option>
                            <option label="33286">40000000</option>
                            <option label="33287">100000000</option>
                            <option label="33288">1000000000</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting id="audioBitrate" type="integer" label="33325" help="33315">
                    <level>0</level>
                    <default>192000</default>
                    <constraints>
                        <options>
                            <option label="33289">64000</option>
                            <option label="33290">96000</option>
                            <option label="33291">128000</option>
                            <option label="33292">192000</option>
                            <option label="33293">256000</option>
                            <option label="33294">320000</option>
                            <option label="33295">384000</option>
                            <option label="33296">448000</option>
                            <option label="33297">512000</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="9" label="33480">
                <setting label="33482" id="transcode_livetv_video" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33481" id="transcode_livetv_audio" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="10" label="33473">
                <setting id="TranscodeFormatVideo" type="string" label="33244" help="">
                    <level>0</level>
                    <default>h264</default>
                    <constraints>
                        <options>
                            <option label="33326">h264</option>
                            <option label="33327">hevc</option>
                        </options>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting id="TranscodeFormatAudio" type="string" label="33245" help="">
                    <level>0</level>
                    <default>aac</default>
                    <constraints>
                        <options>
                            <option label="33328">aac</option>
                            <option label="33329">ac3</option>
                        </options>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="spinner" format="string"/>
                    <dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="useDirectPaths">false</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
        </category>
        <category id="Interface" label="30235" help="">
            <group id="1" label="33299">
                <setting label="30157" id="enableCoverArt" type="boolean" help="33321">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33116" id="compressArt" type="boolean" help="33322">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33441" id="skipintroembuarydesign" type="boolean" help="33442">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33437" id="AssignEpisodePostersToTVShowPoster" type="boolean" help="33438">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="33300">
                <setting label="33246" id="menuOptions" type="boolean" help="33323">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33105" id="enableContext" type="boolean" help="33324">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33143" id="enableContextDelete" type="boolean" help="33304">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="enableContext">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="33266" id="enableDeleteByKodiEvent" type="boolean" help="33265">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="33404">
                <setting id="maxnodeitems" type="integer" label="33402" help="33403">
                    <level>3</level>
                    <default>25</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>250</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
            <group id="4" label="33108">
                <setting label="30249" id="connectMsg" type="boolean" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="30530" id="restartMsg" type="boolean" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33443" id="busyMsg" type="boolean" help="33444">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="displayMessage" type="integer" label="30547" help="">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>2</minimum>
                        <step>1</step>
                        <maximum>15</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable">
                            <or>
                                <condition operator="is" setting="connectMsg">true</condition>
                                <condition operator="is" setting="restartMsg">true</condition>
                            </or>
                        </dependency>
                    </dependencies>
                </setting>
                <setting label="30531" id="newContent" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="newvideotime" type="integer" label="30532" help="">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="newContent">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting id="newmusictime" type="integer" label="30533" help="">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="is" setting="newContent">true</condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="5" label="30412">
                <setting label="33483" id="transcode_select_audiostream" type="boolean" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="6" label="33410">
                <setting label="33333" id="animateicon" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33334" id="refreshskin" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="skinreload" label="33409" type="action">
                    <data>NotifyAll(plugin.video.emby-next-gen,skinreload)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                </setting>
            </group>
        </category>
        <category id="DynamicInfos" label="33253" help="33303">
            <group id="1" label="33253">
                <setting label="33247" id="getDateCreated" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33248" id="getGenres" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33249" id="getStudios" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33250" id="getTaglines" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33251" id="getOverview" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33252" id="getProductionLocations" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33124" id="getCast" type="boolean" help="33303">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="Advanced" label="30022" help="">
            <group id="1" label="30022">
                <setting id="startupDelay" type="integer" label="30529" help="33302">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>5</step>
                        <maximum>120</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting label="33267" id="disablehttp2" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33454" id="usekodiworkarounds" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="30500" id="sslverify" type="boolean" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting label="33452" id="verifyFreeSpace" type="boolean" help="">
                    <level>3</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="databasevacuummanual" label="33436" type="action" help="334078">
                    <data>NotifyAll(plugin.video.emby-next-gen,databasevacuummanual)</data>
                    <level>3</level>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="2" label="33104">
                <setting id="backupPath" type="path" label="33093" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <writable>true</writable>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>32025</heading>
                    </control>
                </setting>
                <setting id="backup" label="33092" type="action" help="">
                    <data>NotifyAll(plugin.video.emby-next-gen,backup)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="!is" setting="backupPath"></condition>
                        </dependency>
                    </dependencies>
                </setting>
                <setting id="restore" label="33255" type="action" help="">
                    <data>NotifyAll(plugin.video.emby-next-gen,restore)</data>
                    <level>0</level>
                    <control type="button" format="action"/>
                    <dependencies>
                        <dependency type="enable">
                            <condition operator="!is" setting="backupPath"></condition>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
        </category>
    </section>
</settings>
